.bookCardWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid var(--gray-300);
}
.imageContainer {
  height: 280px;
  position: relative;
}
.infoSection {
  padding: 16px;
}
.infoSection p {
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -2px 0 0 0;
}
.infoSection h3 {
  margin: 0;
  padding: 0;
}
